html {
    font-family: "Georgia";
}

body {
    margin: 0;
}
li {
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    font-weight: 300;
    display: inline-block;
    width: 200px;
  }

.songs {
    top: 1px;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(184, 160, 179);
}

.name {
    position: relative;
    text-align: center;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(255, 161, 227);
    padding: 20px;
}

.lyrics {
    text-align: center;
    font-size: 20px;
    border: 3px solid rgb(0, 0, 0);
    background-color: rgb(184, 160, 179);
    padding: 50px;
    margin: 100px;
    width: auto;
}